footer{
    background-color: rgb(131, 166, 166);
    padding: 0%;
    height: 6%;
}
.col-10{
    font-size: 110%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    margin-top: 0%;
    margin-left: 38%;
    margin-top: 1%;
}